body{
  margin:0;
}
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
p, a, li{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}
h1, h2{
  color: #365B6D;
  font-family:'Archivo', sans-serif;
  font-size: 50px;
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: #365B6D;
}
a{
  display: inline-block;
  height:74px;

}
.info{
  height: 100%;
  display: flex;
  align-items: center;
}

.info a{
  width:100%;
  font-size: 16px;
  text-align: center;
  color: #365B6D;
  text-decoration: none;
  display: flex;
  padding:0px 10px ;
  box-sizing: border-box;
}
footer .info a{
  width: calc(98%/5);
}
.nom p{
color: #365B6D;
}
.divCV{
  background: #62DDD6;
  width: 80%;
  height: 75px;
  display: flex;
  border-radius: 20px;
  border: solid 5px #365B6D;
justify-content: center;
}
.divCV .cv{
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #365B6D;
}
.divCV .cv img{
  height: 75px;
}
.h3{
  margin: 0;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
}
.nom{
  text-align: center;
  backdrop-filter: blur(5px);
}
nav{
  z-index: 1;
  position: sticky;
  top: 0;
  background: #41C1BA;
}
footer{
  background-color:#41C1BA;
}
header{
  background-color:#41C1BA;
  display:flex;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
    justify-content: center;
}
h1, h2{
  margin: 0;
  padding: 10px 0;
  box-sizing: border-box;
}
.info span{
  display: none;
}
.logo span{
  display: none;
}
/* menu hanburger */
.container {
  max-width: 1050px;
  width: 100%;
  margin: auto;
}
.navbar {
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  height: 62px;
}
.navbar .menu-items {
  display: flex;
  background: #41C1BA;
}
.navbar .nav-container li {
  list-style: none;
}
.navbar .nav-container li a{
  font-size: 35px;
  padding: 30px;
}
.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
}
.navbar .nav-container a:hover{
    font-weight: bolder;
}
.logo {
  position: absolute;
  top: 0;
  right: 15px;
}
.logo img{
  height: 50px;
}
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.navbar .menu-items {
  justify-content: center;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}
.menu{
  height: 0;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.scrolling-wrapper-flexbox {
  display: inline-flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}
  .card {
    width: 85%;
    flex: 0 0 auto;
    background: #F2F1EC;
    border: transparent 10px solid;
    border-radius: 45px;
    box-sizing: border-box;
  }
  section{
   width: 100%;
  }
  .ombredroite{
    padding: 10px;
    width: 85%;
    background: #F2F1EC;
    border-radius: 10px;
    box-shadow: 23px 25px 14px -1px rgba(98,221,214,0.8);
-webkit-box-shadow: 23px 25px 14px -1px rgba(98,221,214,0.8);
-moz-box-shadow: 23px 25px 14px -1px rgba(98,221,214,0.8);
  }
.ombregauche{
  padding-right: 2px;
  width: 93%;
  background: #F2F1EC;
  border-radius: 10px;
  box-shadow: -23px 25px 14px -1px rgba(98,221,214,0.8);
-webkit-box-shadow: -23px 25px 14px -1px rgba(98,221,214,0.8);
-moz-box-shadow: -23px 25px 14px -1px rgba(98,221,214,0.8);
}
.flexbox{
  display:flex;
  justify-content: flex-end;
}
h3{
text-align: center;
}
.droite{
  text-align: right;
}
.tabs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tabs input{
  display: none;
}
.tabs label{
display: flex;
justify-content: center;
align-items: center;
padding: 7% 14%;
margin-right: 0.2rem;
cursor: pointer;
background-color: #F2F1EC;
font-weight: bold;
transition: ease 0.3s;
color: #365B6D;
}
.tabs input[type="radio"]:checked + label {
    background: #62DDD6;
    border-radius: 10px;
}
.tabs input[type="radio"]:checked + label + .tab {
    display: inline-block;
}
.tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    background: #62DDD6;
    padding: 20px;
}
.tab li img{
  width: 70px;

}
.inline li{
  display: inline-block;
}
.pad li{
  box-sizing: border-box;
  padding: 10px;
  list-style: none;
}
.cheval{
  color: white;
  background: url(img/cheval.jpg) no-repeat;
  background-size: cover;
}
.fleur{
  color: white;
  background: url(img/fleur.jpg) no-repeat;
  background-size: cover;
}
.menage{
  background: url(img/menage.jpg) no-repeat;
  background-size: cover;
}
.informatique{
  color: white;
  background: url(img/informatique.jpg) no-repeat;
  background-size: cover;
}
@media screen and (min-width: 430px){
.card{
  width: 67%;
}
.tabs label{
  padding: 3% 7%;
}
section{
  width: 100%;
}
footer{
  width: 100%;
}
.tabs {
  width: 70%;
  margin: auto;
}
.tab{
  text-align: center;
}
.pad, .inline{
  border-radius: 20px;
}
.ombregauche{
  width: 60%;
}
header{
  background: url(img/fond.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
}
@media screen and (min-width:1023px){
  nav{
    position: fixed;
    width: 100%;
    background: none;
  }
  .nav-container{
    background: none;
  }
.navbar  .menu-items{
    background: none;
  }
header{
  background: url(img/fond.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
footer{
  width: 100%;
}
main{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}
#présentation{
  order: -1;
  width: 50%;
}
#formation{
  order: -1;
  width: 50%;
}
  .card{
    width: 50%;
  }
.tabs label{
  padding: 3% 7%;
}
.info{
  text-align: center;
}
.tab{
  text-align: center;
}
.tabs {
  width: 70%;
  margin: auto;
}
.pad, .inline{
  border-radius: 20px;
}
.ombregauche, .ombredroite{
  width: 70%;
}
section{
  width: 100%;
}
footer .info a{
height: 100%;;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
footer .info span{
  display: inline-block;
  color: #365B6D;
}
.logo{
  display: none;
}
.hamburger-lines{
  display: none;
}
.nav-container{
  display: inline-flex;
  height: 75px;
}
.navbar .menu-items{
  display: inline-flex;
  transform: none;
  margin: 0;
  height: 100%;
}
.navbar .nav-container li {
  width: 19%;
  color: #365B6D;
display: inline-flex;
box-sizing: border-box;
border-right: solid black 2px;
white-space: normal;
justify-content: center;
align-items: flex-end;
}
.container{
  max-width: none;
}
.divCV{
  width: 40%;
}
.navbar .nav-container li a{
  font-size: 30px;
  padding: 0;
}
.nav-container .hamburger-lines{
  display: none;
}
.nav-container .checkbox{
  display: none;
}
}
